@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:700,400);
@import url(http://fonts.googleapis.com/css?family=Roboto);

body {
  background-image: url("images/shattered.png");
}

.wrapper > div:nth-of-type(2) {
  display: flex;
  flex-direction: row;
  justify-content: center;
  min-height: 600px;
}

section {
  min-width: 400px;
  vertical-align: top;
  border-radius: 5px;
  padding: 20px;
  margin: 10px 5px 0 0;
  font: 700 1em "Roboto", sans-serif;
  background-color: whitesmoke;
  box-shadow: 0 0 10px #777 inset;
}
#split-flap {
  margin: auto;
  width: 500px;
}

#controls {
  width: 300px;
  margin:auto;
  text-align: center;
}

#controls input {
  border: none;
  width: 2em;
  background-color: whitesmoke;
}

#clock {
  font-size: 5em;
  margin: 0;
}

#inputs input{
  display: block;
  width: 8em;
  margin-bottom: 10px;
  font-size: 2.8em;
  letter-spacing: 0.1em;
}

.instructions p {
  margin: 0;
}

.instructions {
  width: 960px;
  margin: auto;
  padding-top: 20px;
  text-align: center;
  font: 1em "Roboto",sans-serif;
}